# REGULAR EXPRESSION

In [1]:
import pandas as pd
import re

In [2]:
with open('data.txt', 'r', encoding='utf-8') as f:
    data = f.read()
data = data.upper()

In [3]:
f1_data = re.findall(r'(\d{2}:\d{2}:\d{2}) FROM (.+?) TO EVERYONE : (PIAIC ?_?-?\d{5,6})',data)
f2_data = re.findall(r'(\d{2}:\d{2}:\d{2}) FROM (.+?) TO EVERYONE : (CNC ?_?-?\d{5,6})',data)
f3_data = re.findall(r'(\d{2}:\d{2}:\d{2}) FROM (.+?) TO EVERYONE : (AIC ?_?-?\d{5,6})',data)
f4_data = re.findall(r'(\d{2}:\d{2}:\d{2}) FROM (.+?) TO EVERYONE : (IOT ?_?-?\d{5,6})',data)
f_data = f1_data + f2_data + f3_data + f4_data

In [4]:
df = pd.DataFrame(f_data, columns=['Time','Name','Roll Number'])
df

         Time                        Name  Roll Number
0    09:06:45             MUHAMMED SHAHID  PIAIC134239
1    09:06:48                  JUNAID ALI  PIAIC174125
2    09:07:47                       ANEEQ  PIAIC172924
3    09:09:30               AFTAB SUKHERA   PIAIC56511
4    09:11:04               FOZIA SHAREEN  PIAIC165097
..        ...                         ...          ...
398  11:40:11              PIAIC95349 ALI    AIC-95349
399  11:41:14                SHAHEER BAIG   AIC-169519
400  11:41:44  IRTIZA KHAN [PIAIC 171375]   AIC-171375
401  12:05:36                SHAHEER BAIG   AIC-169519
402  11:01:08          ALI ISMAIL HUSSAIN    IOT048687

[403 rows x 3 columns]

In [5]:
final = df.drop_duplicates(subset=['Name','Roll Number'])

In [6]:
print(final)

         Time                                 Name  Roll Number
0    09:06:45                      MUHAMMED SHAHID  PIAIC134239
1    09:06:48                           JUNAID ALI  PIAIC174125
2    09:07:47                                ANEEQ  PIAIC172924
3    09:09:30                        AFTAB SUKHERA   PIAIC56511
4    09:11:04                        FOZIA SHAREEN  PIAIC165097
..        ...                                  ...          ...
395  11:38:09  MUHAMMAD JUNAID HUSSAIN-PIAIC187530   AIC-185730
396  11:38:23  MUHAMMAD JUNAID HUSSAIN-PIAIC187530   AIC-187530
397  11:40:01                               ARSHAD   AIC-168092
400  11:41:44           IRTIZA KHAN [PIAIC 171375]   AIC-171375
402  11:01:08                   ALI ISMAIL HUSSAIN    IOT048687

[263 rows x 3 columns]